* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }
.info_text{
    font-family: 'FreeMono', monospace; 
    background-color: rgba(230, 230, 230, 0.753);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px;
    max-width: 48dvw;
    text-align: center;
}
.pictureSize{
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 48dvw;
}
.btn {
    font-size: 20px;
    font-weight: bold;
    background: #9a76ee;
    width: 175px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 10px;
    border-style: solid;
}

.btn:hover, .btn:focus, .btn:active {
    -webkit-transform: scale(1.1);
}

.otterColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    background-image: url(/img/otter_river.avif);
    background-size: cover;
}
.snow_leopardColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/img/winter.avif);
    background-size: cover;

}
.sealColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/img/ocean.avif);  
    background-size: cover;
}
.komodoColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/img/indonesia.avif);  
    background-size: cover;
}
