* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.text_buttonContainer{
    display: flex;
    margin: auto;
    flex-direction: column;
    align-content: center;
    text-align: center;
}
.info_text{
    font-family: 'FreeMono', monospace; 
    background-color: rgba(230, 230, 230, 0.853);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 15px;
    max-width: 48dvw;
    border-radius: 10px;
    text-align: center;
}
.pictureSize{
    display: flex;
    margin: auto;
    padding: 15px;
    align-items: center;
    max-width: 48dvw;
}
.button {
    margin-top: 20px;
    font-size: 15px;
    font-weight: bold;
    background: #ac91eb;
    height: 45px;
    width: 125px;
    cursor: pointer;
    text-align: center;
    color: #000000;
    border-radius: 10px;
    border-style: solid;
}
.button:hover{
    background-color: transparent;
    border-color: white;
    -webkit-text-fill-color: white;
}

.otterColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
    background-image: url(/img/otter_river.avif);
    background-size: cover;
}
.snow_leopardColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/img/winter.avif);
    background-size: cover;
}
.sealColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/img/ocean.avif);  
    background-size: cover;
}
.komodoColor{
    display: flex;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-image: url(/img/indonesia.avif);  
    background-size: cover;
}
